
#about > div{
    display: flex;
    flex-direction: column;
}

.about-container {
    display: flex;
    align-items: center;
}

.skills-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 3rem;
    width: 100%;
    height: 100px;
    flex-wrap: wrap;
}

.skills-container img {
    width: 50px;
    height: 50px;
    opacity: 0.2;
    transition: all 0.2s ease-in-out;
}

.skills-container img:hover {
    transform: scale(1.2);
    opacity: 1;
}

/* TEXT =================== */
.text-container {
    margin-bottom: 2rem;
    flex: 1;
}

.about-container h2 {
    margin-bottom: 2rem;
    color: var(--clr-primary-gray-2);
}

.about-container p {
    margin-bottom: var(--margin-bottom);
}

/* DOWNLOAD BUTTON ==================== */

.btn {
    position: relative;
    padding: var(--button-padding);
    background-color: transparent;
    border: 1px solid var(--clr-primary-gray);
    border-radius: 20px;
    transition: all .3s ease-in;
}

.btn:hover {
    color: #fff;
    cursor: grab;
}

.btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 10%;
    height: 100%;
    background-color: var(--clr-primary-gray);
    border-radius: 20px;
    overflow: hidden;
    z-index: -1;
    opacity: 0;
    transition: all .3s ease-in;
}

.btn:hover::before {
    width: 100%;
    opacity: 1;
}

/*  IMAGE ============= */
.image-container {
    display: flex;
    flex: 1;
}

.about-container img {
    width: 80%;   
    height: 15rem;
}

/* ICONS ================= */
.social-icons {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.social-icons button{
    background-color: transparent;
    color: var(--clr-primary-gray-2);
    cursor: pointer;
    border: none;
    font-size: 1.8rem;
    margin: 0 0.8rem;
    transition: all .2s ease;
}

.social-icons button:hover {
    transform: scale(1.2);
    color: var(--clr-primary-gray);
}

@media screen and (max-width: 900px) {
    .about-container {
        flex-direction: column;
    }
}
