
/* ==============
    HOME SECTION
    ============= */
#home {
    background: var(--clr-gradient-background);
    position: relative;
}
/*  TEXT ==================== */    

.home-text h3 {
    margin: 0 0 10px 5px;
    color: var(--clr-primary-gray-3);
    text-align: left;
}
.home-text h1 {
    color: var(--clr-primary-gray);
}

/* ARROW BUTTON ================= */
.arrow-btn {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    animation: 2s movingBtn infinite;
}
.arrow-btn button { 
    padding: 8px 4px;
    font-size: 1.5rem;
    border: none;
    background-color: transparent;
    /* border-radius: 10px;
    border: 1px solid var(--clr-primary-gray-3); */
}
.arrow-btn button:hover {
    cursor: pointer;
    transform: scale(1.2);
}
@keyframes movingBtn {
    0%{
        transform: translateY(-12px);
    }
    100% {
        transform: translateY(0);
    }
}