
#projects {
    background: var(--clr-gradient-background-reverse);
}

.projects-container {
    display: flex;
    flex-direction: column;
}

.project {
    margin-bottom: 4rem;
    box-shadow: 1px 1px 8px rgb(184, 184, 184);
    text-align: center;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-auto-rows: auto;
    justify-items: center;
    align-items: center;
    overflow: hidden;
}

.project-image {
    background-color: green;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.project-image::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--clr-primary-gray-alpha-4);
    z-index: 1;
    opacity: 0;
    transition: 0.4s ease-in-out;
}

.project-image:hover::after {   
    opacity: 1;
}

/* Cursor */
.project-cursor {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    transition: all 0.2s ease-in;
    opacity: 0;
}

.project-image:hover .project-cursor {
    width: 80px;
    height: 80px;
    opacity: 1;
}

.project-image img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    transition: 0.4s ease-in-out;
}

.project-image:hover img {
    transform: scale(1.2);
}



.project-text {
    padding: 2rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project p {
    color: var(--clr-primary-gray-2);
    padding: 0.8rem;
}

.project-title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-title p {
    font-weight: bold;
    font-size: 1.2rem;
}

.project-title a {
    text-decoration: underline;
}

.github-icon {
    margin-right: 0.5rem;
    font-size: 1.2rem;
    vertical-align: middle;
}

.project-description {
    color: var(--clr-primary-gray-2);
}

.project-libraries {
    width: 100%;
    margin-top: 1rem;
}
.project-libraries ul {
    display: flex;
    flex-wrap: wrap;
}

.project-libraries ul li {
    color: var(--clr-primary-gray-3);
    font-size: 0.8rem;
    text-transform: lowercase;
    margin-bottom: 0.5rem;
}


